body {
  margin: 0;
  padding: 0;
  background-color: #efefef;
  box-sizing: border-box;
  font-family: 'Roboto';
  height: 100vh;
  display: grid;
  grid-template-columns: 2fr 7fr;
  grid-template-areas: 'aside container';
}

header {
  grid-area: header;
  display: flex;
  justify-content: space-between;
  padding: 0 15px;
  margin-bottom: 20px;
  align-items: center;
  height: 10vh;
}

/* header,
aside {
  cursor: pointer;
} */

aside {
  background: url('images/sidebar-1.jpg');
  background-size: cover;
  padding: 0 20px;
  grid-area: aside;
  color: white;
  background-color: rgba(0, 0, 0, 0.7);
  background-blend-mode: color;
  overflow-y: scroll;
  overflow-x: clip;
}

aside.sidebar-nav::-webkit-scrollbar,
main::-webkit-scrollbar {
  background: transparent; /* background of the scrollable area background */
  width: 10px;
}
aside.sidebar-nav::-webkit-scrollbar-thumb,
main::-webkit-scrollbar-thumb {
  background: #888; /* Color of the thumb area */
  border-radius: 5px;
}

.logo-text {
  word-spacing: 20px;
}

hr.line {
  border: 1px solid #e1e1e1;
}

.edit-icon {
  cursor: pointer;
  background: white;
  display: flex;
  width: 40px;
  height: 40px;
  justify-content: center;
  align-items: center;
  border-radius: 50px;
  color: dimgrey;
}

.search-text {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

ul {
  list-style: none;
  display: flex;
  align-items: center;
  color: #545454;
  padding: 10px 20px;
}

.gap-30 {
  gap: 30px;
  padding: 25px;
}

.search-input::placeholder {
  font-size: 16px;
}

.search-input {
  border: none;
  border-bottom: 2px solid lightgray;
  background-color: #efefef;
  outline: none;
  padding: 5px;
}

.search-input:focus {
  border-bottom: 2px solid purple;
}

.notification {
  padding: 10px 15px;
  position: relative;
}

.notification .badge {
  position: absolute;
  top: 0px;
  right: 3px;
  padding: 4px 8px;
  border-radius: 50%;
  background: red;
  color: white;
  font-size: 14px;
}

.widget {
  display: none;
}

.info-item:focus ~ .widget {
  width: 350px;
  height: 215px;
  background-color: white;
  display: block;
  z-index: 1;
  border: 1px solid lightgray;
  position: absolute;
  top: 20px;
  border-radius: 10px;
  right: 20px;
}

ul.widget-list {
  color: #7f7f7f;
  flex-direction: column;
  padding: 10px 15px;
}
.widget ul li {
  width: 100%;
  padding: 10px 15px;
}

.widget ul li:hover {
  background-color: orangered;
  color: white;
}

.logo-name h1 {
  font-weight: 300;
  font-size: 22px;
  padding: 20px 0px;
  margin: 0px 25px;
  white-space: nowrap;
}

.container {
  display: flex;
  align-items: center;
  gap: 20px;
}

.container-global {
  display: flex;
  align-items: center;
  gap: 20px;
}

.sidebar-items {
  padding: 10px 0px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 10px 20px;
}

.dashboard-item {
  background-color: #d91a60;
  border-radius: 5px;
}

.page-item:hover {
  background-color: rgba(255, 255, 255, 0.253);
}

.profile img {
  width: 45px;
  border-radius: 50%;
}

.header-container {
  grid-area: container;
  overflow-y: scroll;
  overflow-x: clip;
  /* width: 100%; */
  padding: 0px 20px;
}

.top-loc {
  width: auto;
  height: auto;
  margin: 15px;
  background-color: white;
  border-radius: 5px;
}

.two-column-layout {
  background: white;
  margin: -20px 15px;
  padding: 20px 10px;
  display: flex;
  border-radius: 10px;
}

.world-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 70px;
  height: 70px;
  color: white;
  background-color: green;
  border-radius: 5px;
  margin-left: 20px;
  top: -15px;
}
.widget-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 70px;
  height: 70px;
  color: white;
  background-color: green;
  border-radius: 5px;
  margin-left: 20px;
  top: -15px;
}

.widget-icon.icon-1 {
  background: orange;
}

.widget-icon.icon-2 {
  background: deeppink;
}

.widget-icon.icon-3 {
  background: limegreen;
}

.widget-icon.icon-4 {
  background: dodgerblue;
}

.item-title {
  font-weight: 300;
  font-size: 20px;
}

.table-data {
  width: auto;
  padding: 15px 30px;
}

td.country-cell {
  display: flex;
  align-items: center;
}

td.country-cell span {
  white-space: nowrap;
}

.custom-table {
  border-collapse: collapse;
  width: 100%;
}

.custom-table td {
  border-bottom: 1px solid #dadada;
  padding: 10px;
}

td.country-cell span {
  padding: 0 10px;
}

.map,
iframe {
  display: flex;
  width: 100%;
}

/* .data-widget {
  margin: 80px 20px;
  display: flex;
  justify-content: space-between;
} */

.data-widget {
  display: flex;
  flex-direction: row; /* Stack widgets vertically */
  align-items: flex-end; /* Center widgets horizontally */
  margin: 80px 20px;
}

section.data-widget.first-widget,
section.data-widget.second-widget {
  width: 100%;
}

section.data-widget.second-widget {
  margin-top: -20px;
}

span.widget-number {
  font-size: 24px;
  color: black;
  font-weight: 300;
  display: flex;
  padding-top: 10px;
}

.widget-item {
  background-color: white;
  border-radius: 5px;
  padding: 10px 20px 10px 20px; /* Adjust the padding value as needed to create space inside the widgets */
  width: 50%; /* Each widget takes half of the container width */
  box-sizing: border-box;
  position: relative;
  text-align: end;
  margin-right: 30px; /* Add margin at the right of each widget for spacing */
}

.widget-content-row {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.widget-content-row .widget-icon {
  top: -45px;
}

.widget-number {
  font-weight: bold;
}

.widget-title p {
  margin: 0;
  color: grey;
  text-align: start;
  font-weight: 300;
}

.widget-description {
  text-align: left;
  display: flex;
  align-items: center;
  color: darkgrey;
}
.widget-description span {
  padding-right: 5px;
}

/* Cards */

.card-widget {
  display: flex;
  justify-content: center;
  text-align: center;
}
.widget-container {
  flex: 1;
  border-radius: 5px;
  background-color: white;
  margin: 10px;
  padding: 10px 20px 5px 20px;
}

.widget-container img {
  width: 100%;
  border-radius: 10px;
  margin-top: -30px;
}

.card-description {
  display: flex;
  justify-content: space-between;
}

.card-price {
  display: flex;
  align-items: center;
  color: darkgrey;
}

.card-info {
  color: darkgrey;
  height: 80px;
  padding-bottom: 25px;
}

/* Footer */
footer {
  grid-area: footer;
  /* background: rgb(0, 255, 13); */
}
footer,
ul {
  margin: 0px;
}

/* @media screen and (max-width: 1000px) {
  body {
    grid-template-areas:
      'header header header'
      'main main main '
      'footer footer footer';
  }

  main {
    grid-template-areas:
      'le'
      'leo'
      'leon'
      'leoni';
  }

  aside {
    display: none;
  }
} */
